 :root {
     --main-bg-color: #B26136
 }

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }

 .main {
     width: 100%;
     min-height: 100vh;
     background-color: var(--main-bg-color);
     color: white;
     padding: 50px;
 }

 .line {
     width: 100%;
     height: 2px;
     background-color: white;
 }

 .main_top_text {
     display: flex;
     margin: 30px 0;
     justify-content: space-between;
     padding: 0 50px;
 }

 .main_top_text p {
     width: 300px;
     text-align: center;
     margin-right: 100px;
 }

 .main_text {
     text-align: center;
     margin-top: 100px;
     font-family: none;
     font-size: 50px;
     font-weight: 400;
     letter-spacing: 4px;
     line-height: 60px;
 }

 .main_bottom_text {
     text-align: center;
     font-family: none;
     font-size: 50px;
     font-weight: 600;
     letter-spacing: 4px;
     line-height: 60px;
 }

 .img {
     position: absolute;
     width: 770px;
     height: 670px;
     top: 760px;
     left: -1px;
 }

 .text2 {
     position: absolute;
     top: 860px;
     right: 250px;
     color: black;
     font-size: 20px;
 }

 .text1 {
     position: absolute;
     top: 910px;
     text-align: center;
     right: 50px;
     color: rgb(96, 86, 86);
     font-size: 18px;
     font-weight: 100;
 }

 .d {
     position: absolute;
     width: 350px;
     height: 5px;
     background: rgb(178, 98, 54);
     top: 1000px;
     right: 170px;
 }

 .text31 {
     position: absolute;
     top: 1060px;
     right: 250px;
     color: black;
     font-size: 20px;
 }

 .text21 {
     position: absolute;
     top: 1111px;
     text-align: center;
     right: 50px;
     color: rgb(96, 86, 86);
     font-size: 18px;
     font-weight: 100;
 }

 .du {
     position: absolute;
     width: 150px;
     height: 45px;
     background: rgb(178, 98, 54);
     top: 1250px;
     right: 270px;
 }

 .q {
     position: absolute;
     font-weight: 500;
     font-size: 17px;
     top: 13px;
     color: white;
     left: 25px;
     text-decoration: none;
 }
 .img2{
    position: absolute;
    width: 1520px;
    height: 690px;
    bottom: -1360px;
    left: -1px;
 }
 .text4{
    position: absolute;
    width: 680px;
    height: 300px;
    top: 1620px;
    left: 460px;
    background-color: white;
 }

 .du:hover {
     background: rgb(154, 90, 55);
 }

 .hidden_text {
     display: none;
 }
 .chiziq{
    width: 35px;
    height: 35px;
    position: absolute;
    transform: rotate(47deg);   
    bottom: 40px;
    border-bottom:  solid rgb(255, 255, 255);
    border-top: 3px solid rgb(154, 90, 55);
    border-left:  solid rgb(255, 255, 255);
    border-right: 3px solid rgb(154, 90, 55);
    right: 320px;
    font-family: none;
 }
 .ch2{
    width: 35px;
    height: 35px;
    position: absolute;
    transform: rotate(47deg);   
    bottom: 40px;
    border-top: 3px solid rgb(154, 90, 55);
    border-right: 3px solid rgb(154, 90, 55);
    right: 300px;
    font-family: none;
 }

 @media only screen and (max-width:900px) {
     .main {
         min-height: 100vh;
     }

     .main_top_text {
         padding: 0;
     }

     .main_top_text h2 {
         display: none;
     }

     .hidden_text p {
         display: block;
         text-align: center;
         margin: 50px 0;
         font-size: 26px;
     }

     .main_top_text p {
         margin: 0;
         width: 100%;
     }
     .img{
        width: 360px;
        height: 990px;
        position: absolute;
        top: 1345px;
        left: 3px;
     }
     .img2{
        position: absolute;
        top: 2300px;
        width: 360px;
        height: 490px;
     }
     .text2{
        position: absolute;
        top: 1345px;
        left: 3px;
     }
 }